
@use '../../Common' as *;

.closeSpace{
    @include flexCenter; 
    background: rgba(0, 0, 0, 0.367);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;   
}

.customModal{ 
    @include flexCenter; 
    background: white;
    height: 70%;
    position: fixed;
    width: 70%;
    z-index: 10;
    border-radius: 30px;
    padding: 0 40px;
   

    & .customModal__close{
        position: absolute;
        top: 0.625rem;
        right: 1.25rem;
        cursor: pointer;
    }
}